#version=RHEL8
# License agreement
eula --agreed
# Use graphical install
graphical
# Network information
network  --bootproto=dhcp --device=ens160 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=localhost.localdomain
ignoredisk --only-use=nvme0n1
# Run the Setup Agent on first boot
firstboot --enable

# System bootloader configuration
bootloader --location=none
autopart
# Partition clearing information
clearpart --none --initlabel

%packages
@^graphical-server-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens160 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Run the Setup Agent on first boot
firstboot --enable

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$FK6e/FvznX1Hljw1$yVY7T.7xS0fXxTZAh8HJ4IJxYSvCt86DsBE5MbveEuKvsxe0UcqqiLfWvPncEMAuyzKbcgNOzLHSK6hPM6BC.1

%addon com_redhat_subscription_manager 
%end
%addon ADDON_placeholder --enable --reserve-mb=auto
%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
